.Footer {
    padding: 60px 0;
    text-align: center;

    .copy {
        color: #666;
        line-height: 22px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        color: #999;
    }
}