.GuList {
    position: relative;

    h2 {
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 700;

        font-size: 18px;
        font-weight: 300;
        color: #000;
        background: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

        padding: 8px 40px;
        border-radius: 32px;
    }

    .map_case {
        margin: 0 0 48px 0;
    }

    .desc {
        p {
            text-align: center;
            margin: 0 0 48px 0;
            color: #999;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;


        li {
            position: relative;

            .case {
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0 0 0 0;
                    background: rgba(0, 0, 0, 0.35);
                    border-radius: 8px;
                }
            }

            .img_box {
                width: 100%;
                height: 200px;
                border-radius: 8px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            strong {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                font-size: 18px;
                font-weight: 700;
                white-space: nowrap;
                color: #fff;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

        }
    }

}