.Header {
    position: sticky;
    top: 0;
    height: 150px;
    z-index: 1000;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fff;
    border: 1px solid #ddd;

    h1 {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 32px 0;
    }

    .Gnb {
        ul {
            display: flex;

            li {
                .Nav_list {
                    display: block;
                    padding: 0 24px;
                }
            }
        }
    }
}